<!---------------- CSS ------------------->
  #container > div > img {
    max-width: 200px;
    max-height: 200px;
  }

  #btnFinishList {
    background-color: #0f0e0e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
  }

  #btnFinishList:hover {
    background-color: rgb(102, 101, 101);
  }

    
      a:link,
     a:visited {
    background-color: #0f0e0e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
  }

  a:hover,
  a:active {
    background-color: rgb(102, 101, 101);
  }

  #btnAdd {
    background-color: #0f0e0e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
  }

  #btnAdd:hover {
    background-color: rgb(102, 101, 101);
  }